* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

*::before,
*::after {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body {
    font-size: 14px;
    font-family: $font;
    // line-height: 110%;
    min-width: 320px;
    color: $color_black;
    background-color: $color_bg;
    touch-action: pan-x pan-y;
    scroll-behavior: smooth;
}
div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input {
    -webkit-appearance: none;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea,
input {
    font-family: $font;
    font-size: 14px;
    line-height: 14px;
}

.site-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    .main{
        padding-top: $header_height;
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}

.section{
    padding-top: 80px;
    padding-bottom: 10px;
    &__title{
        text-align: center;
        margin-bottom: 40px;
    }
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    max-width: $container_width;
    margin: 0 auto;
    @media (max-width: 768px) {
        padding-left: 16px;
        padding-right: 16px;
    }
}
a {
    text-decoration: none;
    color: $color_primary;
    transition: 0.2s;
    &:focus,
    &:hover {
        opacity: 0.8;
    }
    &.__self {
        // display: inline;
        border-bottom: 1px dashed $color_primary;
    }
}

.btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;

    border: 0px solid transparent;

    padding: 0 20px;

    height: 36px;

    cursor: pointer;
    user-select: none;

    min-width: 200px;

    @include transition();

    @mixin btn-style($name, $color, $text_color){
        &--#{$name}{
            background: $color !important;
            color: $text_color !important;
            svg path{
                fill:$text_color !important;
            }
            &:hover{
                background: lighten($color, 10%);
                opacity: 1;
            }
            &:active{
                background: darken($color, 10%);
            }
        }
    };

    &--rounded{
        border-radius: 100px;
    }
    &--large{
        height: 54px;
    }

    @include btn-style('primary',$color_primary ,$color_white );
    @include btn-style('secondary',$color_secondary ,$color_white );
    @include btn-style('orange',#DC1919,$color_white );

    &.btn--orange{
        background-image: linear-gradient(94.01deg, #CE6B10 6.79%, #DC1919 107.93%) !important;
        &:hover{
            filter: saturate(1.2);
        }
        &:active{
            filter: brightness(0.9);
        }
    }
}

address{
    font-style: normal;
    user-select: all;
}

h1,.h1{
    font-size: 48px;
    font-weight: 700;
}
h2,.h2{
    font-size: 48px;
    font-weight: 700;
}
h3,.h3{    
    font-size: 32px;
    font-weight: 400;
}
h4,.h4{
    font-size: 22px;
    font-weight: 700;
}
h5,.h5{
    font-size: 18px;
    font-weight: 700;
}
small,.small{
    font-size: 12px;
}

@media (max-width: $screen_m) {
    h1,.h1{
        font-size: 32px;
        font-weight: 700;
    }
    h2,.h2{
        font-size: 32px;
        font-weight: 700;
    }
    h3,.h3{    
        font-size: 22px;
        font-weight: 400;
    }
    h4,.h4{
        font-size: 18px;
        font-weight: 700;
    }
    h5,.h5{
        font-size: 16px;
        font-weight: 700;
    }
    .body{
        font-size: 14px;
    }
    small,.small{
        font-size: 10px;
    }
}



.breadcrumbs {
    padding: 30px 0 50px;
    .breadcrumbs__item {

        &:not(:last-child){
            display: inline-flex;
            align-items: center;
            &::after{
                content: '';
                display: inline-block;
                // position: relative;
                width: 5px;
                height: 5px;
                margin-left: 7px;
                margin-right: 10px;
                border-right: 1px solid #000;
                border-bottom: 1px solid #000;
                transform: rotate(-45deg);
            }
        }
    }
    @media (max-width: $screen_m) {
        padding: 20px 0 30px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    .form__item {
        margin-bottom: 10px;

        .checkbox{
            margin-top: 20px;
        }
    }
    .form__action {
        margin-top: 16px;
    }
}
.input {
    position: relative;
    input{
        display: block;
        width: 100%;
        height: 48px;

        border: 1px solid $color_gray_4;
        border-radius: 100px;
        padding: 0 20px;
        &:focus+.input__lable,
        &.--is-not-empty+.input__lable
        {
            top: 5px;
            font-size: 10px;
            transform: translateY(0);
        }
    }
    .input__lable {
        position: absolute;
        
        top: 50%;
        left: 20px;
        transform: translateY(-50%);

        color: $color_gray;

        transition: 0.2s;
    }
    .input__mistake {
    }
}
.checkbox {

    display: flex;
    align-items: center;

    input:checked{
        &+.checkbox__view{
            background: $color_primary;
        }
    }

    .checkbox__view {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 14px;
        height: 14px;

        flex-grow: 0;
        flex-shrink: 0;
        background: $color_gray-5;
        color: $color_white;
        cursor: pointer;
        margin-right: 8px;

        &::after{
            content: '';
            display: block;
            position: absolute;
            width: 6px;
            height: 10px;

            border-bottom: 1px solid;
            border-right: 1px solid;
            transform:translateY(-2px) rotate(45deg) ;
        }
    }
    .checkbox__lable {
    }
    .checkbox__mistake {
    }
}

.colorpeacker {
    .colorpeacker__title {
        margin-bottom: 12px;
        font-size: 16px;
    }
    .colorpeacker__value {
    }
    .colorpeacker__list {
        display: flex;
        margin: -3px;
        &>*{
            margin: 3px;
        }
    }
    .colorpeacker__item {
        background: $color_gray;
        width: 30px;
        height: 28px;
        border-radius: 30px;
        cursor: pointer;

        position: relative;
        &--active{
            &::after{
                content: '';
                display: block;
                position: absolute;
                bottom: -10px;
                right: 0;
                width: 6px;
                height: 5px;
                background: $color_primary;
                border-radius: 5px;
            }
        }
    }
}

.text{
    &--primary{
        color: $color_primary;
    }
    &--secondary{
        color: $color_secondary;
    }
    &--gray{
        color: $color_gray;
    }
    &--gray-light{
        color: $color_gray_light;
    }
    &--gray-4{
        color: $color_gray_4;
    }
    &--gray-5{
        color: $color_gray_5;
    }
    &--gray-6{
        color: $color_gray_6;
    }
}

.card{
    &--payment{
        padding: 20px 16px;
        border: 1px solid $color_secondary;
        @media (max-width: $screen_s) {
            padding: 16px 8px;
        }
    }
}