.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;

    min-height: $header_height;

    transition: box-shadow 0.3s;
    &--scrolled{
        box-shadow: 0 0 20px -10px rgba(0,0,0,0.2);
    }

    .header__top {
        background: $color_gray_light;
    }
    .header__contacts {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        width: 520px;
        max-width: 100%;
        margin-left: auto;

        font-weight: 700;
    }
    .header__bottom {
        padding: 6px 0;

        background: $color_white;
    }
    .header__bottom-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__logo {
        img{
            margin-right: 60px;
        }
    }
    .header__nav {
        flex-basis: 700px;
        flex-grow: 0;
        flex-shrink: 1;
        font-weight: 700;

        
        a{
            color: $color_gray;
        }
        ul{
            display: flex;
            justify-content: space-between;


            list-style: none;

            li{
                white-space: nowrap;
                &:not(:last-child){
                }
            }
        }
    }
    .header__nav-toggle{
        width: 32px;
        height: 32px;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        cursor: pointer;
        
        border: none;
        background: transparent;

        span{
            width: 100%;
            height: 2px;
            background: $color_primary;
        }
    }

    @media (min-width: $screen_m_min) {
        
        .header__nav-toggle{
            display: none;
        }
    }
    @media (max-width: $screen_m) {
        .header__bottom-inner{
            position: relative;
        }
        .header__nav{
            display: flex;
            justify-content: flex-end;

            ul{
                position: absolute;
                bottom: 0;
                transform: translateY(100%);
                flex-direction: column;
                padding: 10px 20px;

                width: 320px;
                max-width: 100%;

                box-shadow: 0 10px 20px -10px rgba(0,0,0,0.3);

                background: $color_white;
                li{
                    margin-bottom: 16px;
                    a{
                        font-weight: 400;
                        color: $color_primary;
                    }
                }
            }

            ul{
                opacity: 0;
                pointer-events: none;
                transform: translateY(95%) scale(0.9);

                transition: 0.2s;

                li{
                    transform: translateY(-10px) scale(0.9);

                    transition: 0.1s;
                }
            }
            &--active{
                ul{
                    opacity: 1;
                    pointer-events: all;
                    transform: translateY(100%) scale(1);
                    li{
                        transform: translateY(0px) scale(1);
                    }
                }
            }
        }
    }
    @media (max-width: $screen_s) {
        .header__top{
            .btn{
                display: none;
            }
        }
        .header__contacts{
            height: 38px;
        }
    }
}

.footer {

    color: $color_gray;
    a{
        color: $color_gray;
    }

    .footer__top {
        border-top: 1px solid $color_primary;

        padding: 64px 0 48px;
    }
    .footer__top-inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: -8px;
        &>*{
            margin: 8px;
        }
    }
    .footer__logo {
        margin-bottom: 16px;
    }
    .footer__nav {
        flex-basis: 500px;
        flex-grow: 0;
        flex-shrink: 1;
        margin-bottom: 16px;
        ul{
            list-style: none;
            display: flex;
            justify-content: space-between;
        }
    }
    .footer__contacts {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 450px;
        flex-grow: 0;
        flex-shrink: 1;
        margin: 0 -4px;
        margin-bottom: 16px;
        &>*{
            margin: 0 4px;
        }
    }
    .footer__bottom {
        padding: 26px 0;
        
        text-align: center;
        color: $color_gray_4;
        border-top: 1px solid $color_gray_6;
    }

    @media (max-width: $screen_m) {
        .footer__logo {
            align-self: start;
        }
        .footer__nav{
            flex-basis: calc(100% - 90px);
            max-width: 500px;
        }
        
    }
    @media (max-width: $screen_s) {
        .footer__contacts {
            width: 100%;
            flex-direction: column;
            align-items: flex-end;
            &>*{
                margin-bottom: 8px;
            }
            .btn{
                margin-top: 16px;
            }
        }
        .footer__nav {
            width: 170px;
            text-align: right;
            ul{
                flex-direction: column-reverse;
                li{
                    margin-bottom: 8px;
                }
                
            }
        }
    }
}

.hero{
    .hero__title {
        font-size: 48px;
        font-weight: 400;
        line-height: 59px;
        small{
            font-size: 36px;
            font-weight: 400;
            line-height: 44px;
        }
        b{
            font-weight: 700;
        }
        strong{
            font-size: 56px;
            font-weight: 700;
            line-height: 68px;
        }
    }

    &.hero--model {
        .hero__content{
            display: flex;
            margin: -22px;
            &>*{
                margin: 22px;
                flex-grow: 1;
            }
        }
        .hero__col-main {
            background: $color_gray_6;
            margin-left: -100vw;
            padding-left: calc(100vw + 22px);
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 32px;

            img{
                margin-right: -200px;
                width: 605px;
                min-width: 275px;
                max-width: 40vw;
            }
        }
        .hero__col-benefit {
            
        }
        .hero__col-benefit-inner{
            background: $color_secondary;
            color: $color_white;
            padding: 8px 22px 30px;

            h4{
                font-size: 28px;
                font-weight: 700;
                line-height: 34px;
            }
        }
        .hero__col-form {

            .card--payment{
                margin-bottom: 13px;
            }
        }
        .hero__finance{
            margin: 0 -5px;
            margin-top: 6px;
            margin-bottom: 14px;
            display: flex;
            &>*{
                margin: 0 5px;
            }
        }
        .hero__form {
            margin-top: 13px;
            width: 375px;
        }

        @media (max-width: $screen_l) {
            .hero__content{
                margin: -8px;
                flex-wrap: wrap;
                &>*{
                    margin: 8px;
                    order: 2;
                }
                .hero__col-main {
                    padding-left: 20px;
                }
            }
            .hero__col-benefit {
                flex-basis: calc(100% - 16px);
                flex-shrink: 0;           
                order: 1;

            }
            .hero__col-form {
                flex-grow: 0;
                flex-shrink: 0;
            }
            .hero__form {
                margin-top: 13px;
                width: auto;
            }
        }
    }

    @media (max-width: $screen_m) {
        .hero__title {
            font-size: 36px;
            font-weight: 400;
            line-height: 40px;
            small{
                font-size: 36px;
                font-weight: 400;
                line-height: 44px;
            }
            b{
                font-weight: 700;
            }
            strong{
                font-size: 42px;
                font-weight: 700;
                line-height: 46px;
            }
        }
    }
}

.options {
    .options__tabs {
        display: flex;
        margin-bottom: 40px;
        margin: -30px;
        &>*{
            margin: 30px;
        }
        .tab{
            font-size: 24px;
            padding: 14 60px;
            position: relative;
    
            &::after{
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 4px;
                background: $color_primary;
    
                transition: 0.2s;
                opacity: 0;
            }
    
            &--active{
                // font-weight: 700;
                -webkit-text-stroke: 0.5px currentColor;
    
                &::after{
                    transition: 0.1s;
                    opacity: 1;
                }
            }
        }
    }
    .options__tabs-content {
        .tabs-content__item {
        }
    }

    @media (max-width: $screen_l) {
        .options__tabs {
            .tab{
                font-size: 20px;
                padding: 14px 40px;
            }
        }
    }
    @media (max-width: $screen_m) {
        .options__tabs {
            margin: -20px;
        &>*{
            margin: 20px;
        }
            .tab{
                font-size: 18px;
                padding: 14px 30px;
            }
        }
    }
    @media (max-width: $screen_s) {
        .options__tabs {
            margin: -8px;
            &>*{
                margin: 8px;
            }
            .tab{
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                padding: 14px 0px;
            }
        }
    }
}

.options__tabs-content {
    
}


.price-list {
    .price-list__title {
        margin-top: 16px;
        margin-bottom: 16px;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        h4{
            margin-right: 120px;
        }
    }
    .price-list__item {
        display: flex;
        align-items: center;
        padding: 10px 0;

        margin-left: -100vw;
        margin-right: -100vw;
        padding-left: 100vw;
        padding-right: 100vw;

        transition: 0.2s;

        &:nth-child(even){
            background: #FBFBFB;
        }
        &:hover{
            background: $color_gray_6;
            transition: 0.1s;
        }
    }
    .price-list__item-col {
    }
}
.options__price-list {
    margin-bottom: 32px;

    .price-list__item {
    }
    .price-list__item-col {
        &:nth-child(1){
            flex-basis: 30px;
            flex-grow: 0;
            flex-shrink: 0;
        }
        &:nth-child(2){
            flex-grow: 1;
        }
        &:nth-child(3){
            flex-grow: 1;
        }
        &:nth-child(4){
            flex-grow: 1;
        }
        &:nth-child(5){
            flex-grow: 1;
        }
        &:nth-child(6){
            flex-grow: 1;
            display: flex;
            margin: -4px;
            &>*{
                margin: 4px;
            }
        }
    }
    @media (max-width:$screen_l) {
        .price-list__item-col {
            &:nth-child(1){margin-right: 8px;}
            &:nth-child(2){}
            &:nth-child(3){margin-right: 8px;}
            &:nth-child(4){}
            &:nth-child(5){
                display: none;
            }
            &:nth-child(6){}
        }
    }
    @media (max-width:$screen_m) {
        .price-list__item {
            flex-wrap: wrap;
        }
        .price-list__title {
            h4{
                margin-right: 20px;
            }
        }
        .price-list__item-col {
            &:nth-child(1){}
            &:nth-child(2){
                flex-grow: 1;
            }
            &:nth-child(3){
                flex-grow: 0;
            }
            &:nth-child(4){
                flex-grow: 0;
            }
            &:nth-child(5){}
            &:nth-child(6){
                display: flex;
                flex-basis: 100%;
                margin-top: 16px;
                .btn{
                    min-width: auto;
                    flex-basis: calc(50% - 8px);
                }
            }
        }
    }
}



.galery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    flex-wrap: wrap;
    .galery__row {
        display: flex;
        justify-content: center;
        &:first-child{
            align-items: flex-end;
        }
        &:last-child{
            align-items: flex-start;
        }
    }
    .galery__item {
        overflow: hidden;
        img{
            height: 100%;
            max-width: 100%;
            transition: 0.4s;
        }
        &:focus,
        &:hover{
            opacity: 1;
            img{
                transform: scale(1.05);
                transition: 0.2s;
            }
        }
    }
}

.partners {
    display: flex;
    flex-wrap: wrap;
    margin: -12px;
    .partners__item {
        flex-basis: calc(100%/6 - 24px);
        flex-grow: 1;
        margin: 12px;
        padding: 34px 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $color_gray_4;
        img{
            max-width: 100%;
        }
    }

    @media (max-width: $screen_l) {
        .partners__item {
            flex-basis: calc(100%/4 - 24px);
        }
    }
    @media (max-width: $screen_s) {
        margin: -8px;
        .partners__item {
            margin: 8px;
            flex-basis: calc(100%/3 - 16px);
        }
    }
    @media (max-width: $screen_xs) {
        .partners__item {
            flex-basis: calc(100%/2 - 16px);
        }
    }
}


.banner {
    position: relative;
    color: $color_white;
    background-size: cover;
    background-position: center;

    margin-bottom: 80px;
    .banner__inner{
        position: relative;
        padding: 48px 76px 16px;
    }
    .banner__title {
        margin-bottom: 16px;
    }
    .banner__subtitle {
        margin-bottom: 30px;

        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;

        b{

            display: inline-block;

            padding-left: 8px;
            padding-right: 8px;

            line-break: 20px;

            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 34px;

            background: linear-gradient(94.01deg, #CE6B10 6.79%, #DC1919 107.93%);
        }
    }
    .banner__form {
        width: 275px;
        max-width: 100%;
    }
    &::before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(96.07deg, #000000 0%, rgba(0, 0, 0, 0) 99.75%);
    }

    @media (max-width: $screen_xl) {
        
    }
    @media (max-width: $screen_l) {

        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
        .banner__inner{
            padding-left: 0;
            padding-right: 0;
        }
    }
    @media (max-width: $screen_m) {
        
    }
    @media (max-width: $screen_s) {
        
    }
    @media (max-width: $screen_xs) {
        
    }
}