
$color_white: #ffffff;
$color_gray_light: #F6F3F2;
$color_gray: #666666;
$color_gray_4: #BDBDBD;
$color_gray_5: #C4C4C4;
$color_gray_6: #F2F2F2;
$color_black: #222222;

$gradient_blue_tr: linear-gradient(238.37deg, rgba(90, 96, 231, 0.35) 6.34%, rgba(30, 30, 40, 0) 103.77%), #2C2C2C;
$shadow_small: 0px 2px 4px #E9E9E9;

$color_primary:#001E50;
$color_secondary: #00AAD2;

$color_placeholder: $color_gray;

$color_bg: $color_white;

$header_height: 90px;

$container_width: 1215px;


$screen_xl_min: 1201px;
$screen_xl: 1200px;

$screen_l_min: 991px;
$screen_l: 990px;

$screen_m_min: 768px;
$screen_m: 767px;

$screen_s_min: 577px;
$screen_s: 576px;

$screen_xs_min: 480px;
$screen_xs: 479px;

@media (max-width: $screen_xl) {
        
}
@media (max-width: $screen_l) {
    
}
@media (max-width: $screen_m) {
    
}
@media (max-width: $screen_s) {
    
}
@media (max-width: $screen_xs) {
    
}


$font: 'VW Head', 'Helvetica', sans-serif;

@mixin scrollWithoutScroll() {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }
}
@mixin scrollWithoutScrollHorizontal() {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-height: none;
    &::-webkit-scrollbar {
        height: 0px;
        background: transparent;
    }
}
@mixin transition() {
    transition: 0.2s;
    &:hover {
        transition: 0.05s;
    }
    &:hover {
        transition: 0.02s;
    }
}