@font-face {
    font-family: 'VW Head';
    src: url('VWHead-Light.eot');
    src: local('VW Head Light'), local('VWHead-Light'),
        url('VWHead-Light.eot?#iefix') format('embedded-opentype'),
        url('VWHead-Light.woff2') format('woff2'),
        url('VWHead-Light.woff') format('woff'),
        url('VWHead-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'VW Text';
    src: url('VWText.eot');
    src: local('VW Text'), local('VWText'),
        url('VWText.eot?#iefix') format('embedded-opentype'),
        url('VWText.woff2') format('woff2'),
        url('VWText.woff') format('woff'),
        url('VWText.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VW Head';
    src: url('VWHead.eot');
    src: local('VW Head'), local('VWHead'),
        url('VWHead.eot?#iefix') format('embedded-opentype'),
        url('VWHead.woff2') format('woff2'),
        url('VWHead.woff') format('woff'),
        url('VWHead.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VW Text';
    src: url('VWText-Italic.eot');
    src: local('VW Text Italic'), local('VWText-Italic'),
        url('VWText-Italic.eot?#iefix') format('embedded-opentype'),
        url('VWText-Italic.woff2') format('woff2'),
        url('VWText-Italic.woff') format('woff'),
        url('VWText-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'VW Text';
    src: url('VWText-BoldItalic.eot');
    src: local('VW Text Bold Italic'), local('VWText-BoldItalic'),
        url('VWText-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('VWText-BoldItalic.woff2') format('woff2'),
        url('VWText-BoldItalic.woff') format('woff'),
        url('VWText-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'VW Head';
    src: url('VWHead-ExtraBold.eot');
    src: local('VW Head ExtraBold'), local('VWHead-ExtraBold'),
        url('VWHead-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('VWHead-ExtraBold.woff2') format('woff2'),
        url('VWHead-ExtraBold.woff') format('woff'),
        url('VWHead-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'VW Text';
    src: url('VWText-Light.eot');
    src: local('VW Text Light'), local('VWText-Light'),
        url('VWText-Light.eot?#iefix') format('embedded-opentype'),
        url('VWText-Light.woff2') format('woff2'),
        url('VWText-Light.woff') format('woff'),
        url('VWText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'VW Head';
    src: url('VWHead-BoldItalic.eot');
    src: local('VW Head Bold Italic'), local('VWHead-BoldItalic'),
        url('VWHead-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('VWHead-BoldItalic.woff2') format('woff2'),
        url('VWHead-BoldItalic.woff') format('woff'),
        url('VWHead-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'VW Text';
    src: url('VWText-Bold.eot');
    src: local('VW Text Bold'), local('VWText-Bold'),
        url('VWText-Bold.eot?#iefix') format('embedded-opentype'),
        url('VWText-Bold.woff2') format('woff2'),
        url('VWText-Bold.woff') format('woff'),
        url('VWText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'VW Head';
    src: url('VWHead-Italic.eot');
    src: local('VW Head Italic'), local('VWHead-Italic'),
        url('VWHead-Italic.eot?#iefix') format('embedded-opentype'),
        url('VWHead-Italic.woff2') format('woff2'),
        url('VWHead-Italic.woff') format('woff'),
        url('VWHead-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'VW Head';
    src: url('VWHead-Bold.eot');
    src: local('VW Head Bold'), local('VWHead-Bold'),
        url('VWHead-Bold.eot?#iefix') format('embedded-opentype'),
        url('VWHead-Bold.woff2') format('woff2'),
        url('VWHead-Bold.woff') format('woff'),
        url('VWHead-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

